BasedOnStyle: WebKit
ColumnLimit: 120
FixNamespaceComments: true
NamespaceIndentation: None
Cpp11BracedListStyle: true
AllowShortFunctionsOnASingleLine: InlineOnly
AlwaysBreakTemplateDeclarations: Yes
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
