# Copyright (C) 2023 Renesas Electronics Corporation.
# Copyright (C) 2023 EPAM Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0

mainmenu "Aos zephyr application"

config AOS_DOMD_ID
	int "DomD id"
	default 1

config AOS_CHAN_TX_PATH
	string "Path to TX channel"
	depends on !NATIVE_APPLICATION
	default "/local/domain/1/tmp/vchan/aos/tx"

config AOS_CHAN_RX_PATH
	string "Path to RX channel"
	depends on !NATIVE_APPLICATION
	default "/local/domain/1/tmp/vchan/aos/rx"

config AOS_REBOOT_XEN_STORE_PATH
	string "Path to user reboot request"
	default "/local/domain/1/data/user-reboot"

config AOS_DISK_MOUNT_POINT
	string "Disk mount point"
	default "/lfs"

config AOS_LOG_BACKEND_FS_DIR
	string "Path to the log directory"
	default "/lfs/aos/logs"

config AOS_LOG_BACKEND_FS_FILE_SIZE
	int "Log file size"
	default 16384

config AOS_LOG_BACKEND_FS_FILE_PREFIX
	string "Log file prefix"
	default "log_"

config AOS_LOG_BACKEND_FS_FILES_LIMIT
	int "Log file count"
	default 8

config AOS_STORAGE_DIR
	string "Path to the storage"
	default "/lfs/aos/storage"

config AOS_RUNTIME_DIR
	string "Aos runtime dir"
	default "/tmp/aos/runtime"

config AOS_DOWNLOAD_DIR
	string "Aos download dir"
	default "/lfs/aos/download"

config AOS_SERVICES_DIR
	string "Aos services dir"
	default "/lfs/aos/services"

config AOS_LAYERS_DIR
	string "Aos layers dir"
	default "/lfs/aos/layers"

config AOS_LAUNCHER_STATE_DIR
	string "Aos launcher state dir"
	default "/lfs/aos/launcher/states"

config AOS_LAUNCHER_STORAGE_DIR
	string "Aos launcher storage dir"
	default "/lfs/aos/launcher/storages"

config AOS_LAUNCHER_WORK_DIR
	string "Aos launcher work dir"
	default "/lfs/aos/launcher"

config AOS_NODE_CONFIG_FILE
	string "Node configuration file path"
	default "/lfs/aos/node_config.cfg"

config AOS_NODE_STATUS_FILE
	string "Path to provisioning state file."
	default "/lfs/aos/.nodestatus"

config AOS_NODE_ID_FILE
	string "Path to node id file."
	default "/lfs/aos/node-id"

config AOS_PKCS11_MODULE_PIN_FILE
	string "Path to PKCS11 module PIN file."
	default "/lfs/aos/.pkcs11pin"

config AOS_HSM_DIR
	string "Path HSM tokens dir."
	default "/lfs/tee"

config AOS_NODE_NAME
	string "Node name"
	default "zephyr"

config AOS_NODE_TYPE
	string "Node type"
	default "NODE_TYPE1"

config AOS_CLOCK_SYNC_SEND_PERIOD_SEC
	int "Send clock sync period in seconds"
	default 60

config AOS_CLOCK_SYNC_TIMEOUT_SEC
	int "Clock becomes unsynced if there is no clock sync update during this period."
	default 600

config AOS_CLOCK_SYNC_MAX_DIFF_MSEC
	int "Maximum allowed difference between source and current time."
	default 10000

config AOS_MAX_CPU_DMIPS
	int "Maximum CPU DMIPS"
	default 10000

config AOS_ROOT_CA_PATH
	string "Path to Aos Root CA certificate. Required to build in root CA into app image."
	default "prebuilt/rootca.pem"

config AOS_IAM_OPEN_PORT
	int "Aos IAM open port"
	default 1

config AOS_IAM_SECURE_PORT
	int "Aos IAM secure port"
	default 2

config AOS_SM_OPEN_PORT
	int "Aos SM open port"
	default 3

config AOS_SM_SECURE_PORT
	int "Aos SM secure port"
	default 4

config AOS_SOCKET_SERVER_ADDRESS
	string "Aos socket server address"
	depends on NATIVE_APPLICATION
	default "10.0.0.100"

config AOS_SOCKET_SERVER_PORT
	int "Aos socket server port"
	depends on NATIVE_APPLICATION
	default 30001

config AOS_PBHANDLER_THREAD_STACK_SIZE
	int "Aos PB handler stack size"
	default 32768

config AOS_LAUNCHER_THREAD_STACK_SIZE
	int "Aos launcher stack size"
	default 32768

config DOMD_ENABLE
	bool "Enable Domain-D creation"
	default y

config DOMD_UBOOT_PATH
	string "Location for Domain-D IPL binary"
	depends on DOMD_ENABLE
	default "prebuilt/ipl.bin"

config DOMD_DTB_PATH
	string "Location of Domain-D partial device-tree"
	depends on DOMD_ENABLE
	default "prebuilt/ipl.dtb"

config DOMU_ENABLE
	bool "Enable Domain-U creation"

config DOMU_BIN_PATH
	string "Location for Domain-U binary"
	depends on DOMU_ENABLE
	default "prebuilt/domu.bin"

config DOMU_DTB_PATH
	string "Location for Domain-U device-tree"
	depends on DOMU_ENABLE
	default "prebuilt/domu.dtb"

config TA_DEPLOY_DIR
	string "Location of optee TA's deploy dir"

module = AOS_CORE
module-str = Aos core
source "subsys/logging/Kconfig.template.log_config"

module = AOS_CORE_RUNTIME
module-str = Aos core runtime
source "subsys/logging/Kconfig.template.log_config"

source "Kconfig"
