# Copyright (C) 2023 Renesas Electronics Corporation.
# Copyright (C) 2023 EPAM Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0

mainmenu "Aos zephyr application"

config AOS_STORAGE_DIR
	string "Path to the storage"
	default "/tmp/aos/storage"

config AOS_RUNTIME_DIR
	string "Aos runtime dir"
	default "runtime"

config AOS_SERVICES_DIR
	string "Aos services dir"
	default "services"

config AOS_LAUNCHER_THREAD_STACK_SIZE
	int "Aos launcher stack size"
	default 16384

source "Kconfig"
