/*
 * Copyright (C) 2023 Renesas Electronics Corporation.
 * Copyright (C) 2023 EPAM Systems, Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <mem.h>

&emmc2 {
	disk {
		status = "okay";
	};
	status = "okay";
};

&ram {
	reg = <0x00 0x60000000 0x00 DT_SIZE_M(256)>;
};
