/*
 * Copyright (C) 2023 Renesas Electronics Corporation.
 * Copyright (C) 2023 EPAM Systems, Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <mem.h>

&mmc0 {
	disk {
		status = "okay";
	};
	status = "okay";
};

/ {
	firmware {
		tee {
		compatible = "linaro,optee-tz";
		method = "smc";
		status = "okay";
		};
	};

	fstab {
		compatible = "zephyr,fstab";
		storage: storage {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/tmp";
			partition = <&storage_partition>;
			automount;
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>;
			lookahead-size = <32>;
			block-cycles = <512>;
		};
	};

	flashcontroller0: flashcontroller {
		compatible = "zephyr,sim-flash";
		label = "FLASH_SIMULATOR";
		#address-cells = <1>;
		#size-cells = <1>;
		erase-value = <0xff>;
		flash_sim0: flash_sim@0 {
			compatible = "soc-nv-flash";
			reg = <0x00000000 DT_SIZE_M(32)>;
			erase-block-size = <1024>;
			write-block-size = <4>;
			partitions {
				compatible = "fixed-partitions";
				#address-cells = <1>;
				#size-cells = <1>;
				/*
				* Storage partition will be used by FCB/LittleFS/NVS
				* if enabled.
				*/
				storage_partition: partition@1000 {
					label = "storage";
					reg = <0x00001000 0x02000000>;
				};
			};
		};
	};

	domu_configs {
		#address-cells = <1>;
		#size-cells = <0>;

		domu@2 {
			/*
			 * Most of the properties of this one and children nodes are default and don't appear
			 * in the resulting dts.
			 *
			 * Refer to 'xen,domu.yaml', 'xen,domu-vbd.yaml' and 'xen,domu-vif.yaml' for details.
			 */
			compatible = "xen,domu";
			reg = <2>;

			mem_size = <DT_SIZE_M(128)>;
			gic_version = <2>;

			vbd {
				compatible = "xen,domu-vbd";
				target = "/dev/sda7";
			};

			vif {
				compatible = "xen,domu-vif";
				mac = "08:00:27:ff:cb:ce";
			};

			status = "disabled";
		};
	};
};
