# Copyright (C) 2024 Renesas Electronics Corporation.
# Copyright (C) 2024 EPAM Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0

mainmenu "Aos zephyr application"

config AOS_NODE_TYPE
	string "Node type"
	default "NODE_NAME"

config AOS_NODE_NAME
	string "Node name"
	default "NODE_NAME"

config AOS_MAX_CPU_DMIPS
	int "Maximum CPU DMIPS"
	default 10000

config AOS_DISK_MOUNT_POINT
	string "Disk mount point"
	default ".aos"

config AOS_NODE_STATUS_FILE
	string "Path to provisioning state file."
	default ".aos/.nodestatus"

config AOS_NODE_ID_FILE
	string "Path to node id file."
	default ".aos/.nodeid"

source "Kconfig"
