name: Build and test

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - develop
      - feature_*

jobs:
  build:
    runs-on: ubuntu-latest
    container: zephyrprojectrtos/ci:latest
    env:
      CMAKE_PREFIX_PATH: /opt/toolchains

    strategy:
      matrix:
        platform:
          [
            rcar_spider_ca55,
            rcar_salvator_xs_m3,
            rcar_h3ulcb_ca57,
            native_posix,
            native_posix_64,
            rpi_5,
          ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Initialize
        run: |
          sudo apt update
          pip install --upgrade protobuf==4.25.3
          ln -ns /opt/protoc/include/google /usr/local/include
          west init -l ./
          west update
          west zephyr-export

      - name: Create IPL files
        run: |
          mkdir src/prebuilt
          touch src/prebuilt/ipl.bin
          touch src/prebuilt/ipl.dtb
          touch src/prebuilt/rootca.pem

      - name: Build ${{ matrix.platform }}
        if: "!startsWith(matrix.platform, 'native')"
        run: |
          west build -b ${{ matrix.platform }} -p always -S xen_dom0

      - name: Build ${{ matrix.platform }}
        if: startsWith(matrix.platform, 'native')
        run: |
          west build -b ${{ matrix.platform }} -p always

      - name: Test ${{ matrix.platform }}
        if: matrix.platform == 'native_posix'
        run: |
          west twister -c -v -p ${{ matrix.platform }} -T tests

      - name: Test ${{ matrix.platform }}
        if: matrix.platform == 'native_posix_64'
        run: |
          west twister -c -v -p ${{ matrix.platform }} --coverage --coverage-basedir src/ --coverage-tool gcovr -T tests
          gcovr twister-out/${{ matrix.platform }}/ -f src/ --xml-pretty > ./coverage.xml

      - name: Upload codecov report
        if: startsWith(matrix.platform, 'native_posix_64')
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
