name: Build and test

on:
  push:
    branches:
      - main
      - develop

  pull_request_target:
    types:
      - edited
      - opened
      - reopened
      - synchronize

    branches:
      - main
      - develop
      - feature*
      - sonar_integration

jobs:
  build:
    runs-on: ubuntu-latest
    container: zephyrprojectrtos/ci:v0.26.14
    env:
      CMAKE_PREFIX_PATH: /opt/toolchains

    strategy:
      matrix:
        platform:
          [
            rcar_spider_ca55,
            rcar_salvator_xs_m3,
            rcar_h3ulcb_ca57,
            native_posix,
            native_posix_64,
            rpi_5,
          ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Initialize
        run: |
          sudo apt update
          pip install --upgrade protobuf==4.25.3
          ln -ns /opt/protoc/include/google /usr/local/include
          west init -l ./
          west update
          west zephyr-export

      - name: Create IPL files
        run: |
          mkdir src/prebuilt
          touch src/prebuilt/ipl.bin
          touch src/prebuilt/ipl.dtb
          touch src/prebuilt/rootca.pem

      - name: Build ${{ matrix.platform }}
        if: ${{ !startsWith(matrix.platform, 'native') && matrix.platform != 'rpi_5' }}
        run: |
          west build -b ${{ matrix.platform }} -p always -S xen_dom0

      - name: Build ${{ matrix.platform }}
        if: ${{ matrix.platform == 'rpi_5' }}
        run: |
          west build -b ${{ matrix.platform }} -p always

      - name: Build ${{ matrix.platform }}
        if: ${{ startsWith(matrix.platform, 'native') }}
        run: |
          west build -b ${{ matrix.platform }} -p always

      - name: Test ${{ matrix.platform }}
        if: ${{ matrix.platform == 'native_posix' }}
        run: |
          west twister -c -v -p ${{ matrix.platform }} -T tests -v

      - name: Test ${{ matrix.platform }}
        if: ${{ matrix.platform == 'native_posix_64' }}
        run: |
          west twister -c -v -p ${{ matrix.platform }} --coverage --coverage-basedir src/ --coverage-tool gcovr -T tests -v
          gcovr twister-out/${{ matrix.platform }}/ -f src/ --xml-pretty > ./coverage.xml
          gcovr twister-out/native_posix_64 -f src/ --sonarqube ./coverage-sonar.xml

      - name: Upload codecov report
        if: ${{ startsWith(matrix.platform, 'native_posix_64') }}
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml

      - name: SonarCloud Scan on push
        if: startsWith(matrix.platform, 'native_posix_64') && github.event_name == 'push'
        uses: SonarSource/sonarqube-scan-action@v4
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            --define sonar.cfamily.compile-commands=build/compile_commands.json
            --define sonar.coverageReportPaths=./coverage-sonar.xml

      - name: SonarCloud Scan on pull request
        if: startsWith(matrix.platform, 'native_posix_64') && github.event_name == 'pull_request_target'
        uses: SonarSource/sonarqube-scan-action@v4
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        with:
          projectBaseDir: "."
          args: >
            --define sonar.scm.revision=${{ github.event.pull_request.head.sha }}
            --define sonar.pullrequest.key=${{ github.event.pull_request.number }}
            --define sonar.pullrequest.branch=${{ github.event.pull_request.head.ref }}
            --define sonar.pullrequest.base=${{ github.event.pull_request.base.ref }}
            --define sonar.cfamily.compile-commands=build/compile_commands.json
            --define sonar.coverageReportPaths=./coverage-sonar.xml
